litellm==1.61.0
PyPDF2==3.0.1
fastapi==0.115.12
uvicorn==0.34.2
uvicorn[standard]==0.34.2
motor==3.7.1
pydantic==2.11.4
python-multipart==0.0.20
Pillow==11.2.1
gtts==2.5.4
pyttsx3==2.98
instructor==1.8.3
numpy==2.2.6